<mat-tree #tree [dataSource]="parents" [childrenAccessor]="childrenAccessor" class="spaces-tree"
          cdkDropList (cdkDropListDropped)="drop($event)" [ngClass]="{ 'dragging': dragging }">
  <mat-tree-node *matTreeNodeDef="let node;" cdkDrag [cdkDragData]="node"
                 (cdkDragStarted)="dragging = true" (cdkDragReleased)="dragging = false"
                 matTreeNodePadding matTreeNodePaddingIndent="21">
    {{node.name}}
    <div class="custom-placeholder" *cdkDragPlaceholder></div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" cdkDrag [cdkDragData]="node"
                 matTreeNodeToggle [cdkTreeNodeTypeaheadLabel]="node.name"
                 (cdkDragStarted)="dragging = true" (cdkDragReleased)="dragging = false"
                 matTreeNodePadding matTreeNodePaddingIndent="20">
    <div class="mat-tree-node">
      <mat-icon class="icon-btn" style="font-size: 1.2em; height: auto;" [attr.aria-label]="'Toggle ' + node.name">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      {{node.name}}
    </div>
    <div class="custom-placeholder" *cdkDragPlaceholder></div>
  </mat-tree-node>
</mat-tree>
